body {
    margin: 0;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

h1 {
    font-size: 5.6rem;  /*16px = 100% = 1rem*/
    margin-top: 50px auto 0 auto; /*centered, without bottom margin, order: top right bottom left*/
    font-family: 'Press Start 2P', cursive;
    color: #76BA99;
    line-height: 2;
}

h2 {
    font-size: 2.5rem;
    color: #76BA99;
    font-weight: normal;
}

h3 {
    color: #CED89E;
}

a {
    color: #CED89E;
}

.top-container {
    background-color: #D3EBCD;
    position: relative;
    padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.underline {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}